.guide {
    background: url('../../img/headerfon.png') center center no-repeat;
    background-size: auto auto, cover;

}

.guide__content {
    background: url('../../img/devushka.png') right 60% bottom no-repeat;
    padding-bottom: 11.9rem;
    padding-top:4rem;
   
}