@media (max-width:480px) {
  html {
    font-size: 12px;
  }

  /*-----header-------*/
  .header__contacts {
    display: none;
  }

  /*-----elements------*/
  .title__desc {
    font-size: 1.5rem;
    line-height: 1.42;
  }

  .description {
    width: 100%;
  }

  /*------problem------*/
  .situation {
    background: url('../../img/Rectanglephone.png')top right no-repeat;
  }

  /*-------partner--------*/
  .myself {

    background: url('../../img/notebookphone.png')bottom 25% right no-repeat;

  }

  .partner__title {
    font-size: 0.8rem;
  }

  /*------process-------*/
  .process__content {
    margin-left: 10%
  }

  .process__tagline>span {
    width: 100%;
    height: 100%
  }

  /*-------achievement----------*/
  .achievement__bg {
    background: none;
  }

  .achievement__text {
    background: none;
  }

  .achievement__content {
    margin-top: 2rem;
  }

  /*-------feedback--------*/
  .feedback__form {
    padding: 0;
  }

  /*------footer---------*/
  .footer-list {
    display: none;
  }

  .footer__contacts>div {
    margin-bottom: 1.5rem;
  }
}

@media (max-width:320px) {
  html {
    font-size: 11px;
  }

  .container {
    width: 85%;
  }

  /*-------elements---------*/
  .title {
    text-align: left;
    font-size: 2rem;
  }

  /*------guide------*/
  .guide__description {
    box-sizing: border-box;
    width: 70%;
  }

  /*----problem-----*/
  .situation {
    background: url('../../img/Rectanglephone2.png')top right no-repeat;
  }

  .big-numbers {
    font-size: 2rem;
  }

  /*---clients-----*/
  .clients__col {
    padding: 0 1.5rem 0 1.5rem;
  }

  /*-----achievement-------*/
  .achievement__text {
    margin-bottom: 10%;
  }

  /*----benefits----*/
  .benefits__desc {
    margin-left: 5%;
  }

  .benefits__text {
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  }

  /*----partner--------*/
  .myself {
    background: url('../../img/notebookphone2.png')bottom 5% right no-repeat;
  }

  .partner {
    padding-right: 5%;
    width: 100%;
    padding-left: 0;
  }

  /*-----feedback-----*/

  .form {
    padding-left: 10%;
  }

  .form__personal {
    width: 15.3rem;
  }

  select {
    font-size: 70%;
  }

  .feedback__bg {
    padding-left: 0;
  }

  .form__textarea {
    width: 15rem;
  }

  .form__button {
    margin-left: 1.5rem;
  }

  /*----footer-----*/
  .footer__contacts {
    margin-left: 2rem;
  }

  .location {
    margin-right: 1rem;
  }
}