.achievement__bg {
    background: url('../../img/paket_mish.png') top right no-repeat;
    padding-bottom: 5rem;

}

.achievement__content {
    background: white;
    border: 1px solid rgba(229, 229, 229, 0.6);
    box-sizing: border-box;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.14), 0px 16px 24px rgba(0, 0, 0, 0.08);
    margin-top: 3.55rem;
    padding: 0 3.125rem 3.125rem 6.25rem;
}

.pagination {
    background: url('../../img/Group.svg') center no-repeat;
}

.achievement__text {
    background: url('../../img/h_m.png') left center no-repeat;
    padding-left: 12.5rem;

}

.numbers {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: row wrap;
}

.numbers__col {
    background: url('../../img/list.svg') left center no-repeat;
    margin-top: 4rem;
    padding: 0 1rem 0 3.375rem;

}

.big-numbers {
    font-size: 3rem;
    font-weight: 700;
}

.signature {
    display: inline-block;
    padding-left: 1rem;
    width: 7.5rem;
}