.benefits {
    background:url('../../img/tel_krugi.png') right -70% top 10%no-repeat, #7224ea;

}


.benefits__col {
    width: 70%;
    padding-bottom: 5rem;

}

.benefits__desc {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: row wrap;
    margin-top: 2.5rem;
}

.benefits__text {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2.5rem 1.875rem 2.5rem 2.3rem;
    box-sizing: border-box;
    width: 23.4rem;
    margin-bottom: 2.7rem;
}