.complexity__col {
    margin-top:0;
}
.myself__list {
    padding-left: 6rem;
}

.myself__item {
    margin-bottom: 2.5rem;
    list-style-image: url(../../img/circle.png);

}

.myself__list li {
    padding-left: 1.25rem;
}

.myself__lead {
    font-weight: bold;
}

.myself {
    padding-bottom: 45%;
    background: url('../../img/notebook.png')bottom 25% right no-repeat;
    max-width: 100%;
}

.partner {
   
    padding-left: 5%;
}

.partner__col {
    margin-bottom: 4rem;
}

.partner__list {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    align-content: flex-start;
    margin: 0;
    justify-content: space-between;
    padding: 0 2rem 0 2rem;
}

.partner__item {
    list-style-image: url(../../img/list.svg);
    margin-bottom: 2.5rem;
    width: 12rem;
}