.myself__list {
    padding-left: 6rem;
}

.myself__item {
    margin-bottom: 2.5rem;
    list-style-image: url('../../img/circle.png');

}

.myself__list li {
    padding-left: 1.25rem;
}

.myself__lead {
    font-weight: bold;
}

.myself::after {
    content:"";
        padding-bottom: 60%;
        background: url('../../img/notebook.png') bottom 50% right no-repeat ;
    display:block;
    
}

.partner {
    width: 45%;
}

.partner__col {
    margin-bottom: 4rem;
    display: flex;
}

.partner__list {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    align-content: flex-start;
    margin: 0;
    justify-content: space-between;
    padding: 0 2rem 0 2rem;
}

.partner__item {
    list-style-image: url(../../img/list.svg);
    margin-bottom: 2.5rem;
    width: 12rem;
}