.menu__list {
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    align-items: flex-start;
    margin-top: 1rem;
}

.menu {
    align-items: flex-start;
}

.menu__item {
    list-style: none;
    margin-right: 1.875rem;

}

.menu__item:last-child {
    margin-right: 0;
}

.menu__link {
    color: black;
    font-family: "Roboto Condensed";
    text-transform: uppercase;
}

.menu__link:active {
    color: #E43225;
}

#nav-toggle,
.nav-btn {
    display: none;
}