.problem__col {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: row wrap;
    margin-top: 4.88rem;
    box-sizing: border-box;

}

.col-left {

    border-right: 1px solid black;
    width: 50%;
    padding-bottom: 7%;
}

.situation {
   background: url('../../img/Rectangle(1).png')top right no-repeat;
   background-size:auto, auto,cover;
}

.subtitle {
    z-index: 100;

}
.situation__lead {
margin-top:2rem;
display: block;
}
.situation__text {
    padding-top: 19rem;
    padding-left: 4rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.col-right {
    width: 40%;
}

.solution__text_col {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 3.125rem;
    margin-top: 2rem;
}

.img-number {
    text-align: left;
    align-self: flex-end;
}

.img-number img {
    max-width: 100%;
}

.description {
    width: 70%;
    font-size: 0.875rem;
    line-height: 1.25rem;
}