.process {
    background: #f5f5f5;
}

.process__content {
    background: url(../../img/process.png) center center no-repeat;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin: 3.125rem 9.375rem 0 9.375rem;
    height: 38.75rem;
}

.process__tagline {
    display: inline-block;
}

.tagline-left {
    text-align: right;

}

.tagline-left__1 {
    background: url(../../img/chislo-1.png) top right no-repeat;
    display: inline-block;
    width: 24.375rem;
    height: 5rem;
    margin: 3rem 0 0 10rem;
    padding-right: 5rem;
}

.tagline-left__2 {
    background: url(../../img/chislo.png) top right no-repeat;
    display: inline-block;
    width: 24.375rem;
    height: 5rem;
    margin: 18rem 0 0 -8rem;
    padding-right: 5rem;

}

.tagline-right__3 {
    background: url(../../img/chislo-2.png) top left no-repeat;
    display: inline-block;
    width: 24.375rem;
    height: 5rem;
    margin: 0 0 0 14rem;
    padding-left: 5rem;


}

.tagline-right__4 {
    background: url(../../img/chislo-3.png) top left no-repeat;
    display: inline-block;
    width: 24.375rem;
    height: 5rem;
    margin: 20rem 9rem 0 22rem;
    padding-left: 5rem;

}