.button {
    background: url("../../img/btn.png") center center no-repeat;
    font-family: "Roboto Condensed";
    font-weight: bold;
    font-size:1.125rem;
    color:white;
    padding:0.8rem 1.8rem 0.8rem 1rem;
}
.guide-btn {
    background: url("../../img/btn2.png") center center no-repeat;
    padding: 1rem 3.5rem 1rem 2.5rem;
    font-size:1.5rem;
}