.subtitle {
    background: url('../../img/Subtitle.png') left top 70% no-repeat;
    color: white;
    font-weight: bold;
    font-size: 1.125rem;
    padding: 1.5rem 0 0.5rem 1.4rem;

}



.title-desc {
    color: white;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.63rem;
    padding-top: 4.375rem;
    padding-bottom: 5rem;
    margin: 0;
}
.achievement__title {
    display: inline-block;
    width: 30rem;
    color: black;
    padding-bottom: 3.5rem;
   
}
.process__title {
    color: black;
    padding-bottom: 0;
}

.lead {
    font-size: 1rem;
    font-weight: bold;
}

.myself__title {
    background: url('../../img/Subtitle1.png')left 2% top 80% no-repeat;
    margin-top: -0.8rem;
    margin-left: 5.5rem;
    margin-bottom: 3rem;
}

.partner__title {
    background: url('../../img/Subtitle2.png') left 2% top 80% no-repeat;
    margin-top: -0.8rem;
    margin-left: 0.5rem;
    margin-bottom: 1.5rem;
}

.partner__col_lead {
    font-size: 1.25rem;
    margin-top: 1rem;
    display: inline-block;
}

.clients__title {
    padding-top: 2.8rem;
    padding-bottom: 2rem;
}

.title-clients {
    margin: 0;
    padding-left: 0;
}

.achievement__subtitle {
    background: url('../../img/Subtitle3.png')  left top 80% no-repeat;
    margin-top: -1.5rem;

}

.complexity__title {
    color: black;
}

.title-case {
    font-size: 2.25rem;
    color: black;
    padding: 2rem 0 3.125rem 0;
}

.title-width {
    display: inline-block;
    width: 30rem;
}