.subtitle {
    background: url('../../img/Subtitle.png') no-repeat;

    color: white;
    font-weight: bold;
    font-size: 1.125rem;
    padding: 0.5rem 0 0.5rem 1.4rem;

}

.title-desc {
    color: white;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.63rem;
    padding-top: 4.375rem;
    padding-bottom: 5rem;
    margin: 0;
}

.process__title {
    color: black;
    padding-bottom: 0;
}

.lead {
    font-size: 1rem;
    font-weight: bold;
        

.myself__title {
    background: url('../../img/Subtitle1.png') no-repeat;

}

.partner__title {
    background: url('../../img/Subtitle2.png') no-repeat;
    margin-bottom: 1rem;
}

.partner__col_lead {
    font-size: 1.25rem;
}

.title-clients {
    margin: 0;
    padding-left: 0;
}

.achievement__title {
    display: inline-block;
    width: 30rem;
    color: black;
}

.achievement__subtitle {
    background: url('../../img/Subtitle3.png') no-repeat;

    margin-top: -1.5rem;

}

.complexity__title {
    color: black;
}

.title-case {
    font-size: 2.25rem;
    color: black;
    padding: 3.125rem 0 3.125rem 0;
}

.title-width {
    display: inline-block;
    width: 30rem;
}